<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>参数特性</title>
</head>
<body>
	<div id="app">
		<h4>#lazy</h4>
		<input type="text" id="01" v-model="msg" lazy>
		<label for="01">input value is {{msg}}</label>
		<h4>#number</h4>
		<input type="text" v-model="age"  id="age" number>
		<label for="age">the age is {{age}} </label>
		<div>{{typeof age}}</div>
		<h4>#debounce</h4>
		<input type="text" id="debounce" v-model="username" debounce="5000">
		<label for="debounce">
			username is {{username}}
		</label>
	</div>
	<script src="vue.js"></script>
	<script>
		new Vue({
			el:"#app",
			data:{
				msg:"hello",
				age:12,
				username:"vue"
			}
		})
		//在标签里写lazy是当文本框失去焦点{{msg}}才变化，写age是把标签里能转化数字就转化数字，否则转化成string,
		//如果正常输入不加number的话，输入的数字也是string类型。debounce是输入过的延时时间后变化，参数是毫秒。
	</script>
</body>
</html>